<div class="container mx-auto px-xs py-sm">
    <h1 class="text-3xl font-bold mb-xl mt-lg">Cart</h1>
  
    @if(error()) {
    <div
      class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4 flex items-center justify-between"
    >
      <span>{{ error() }}</span>
      <!-- <button
        (click)="retryLoadProducts()"
        class="bg-red-600 text-white px-3 py-1 rounded text-sm hover:bg-red-700 transition-colors"
      >
        Retry
      </button> -->
    </div>
    } @if(isLoading()) {
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      @for (item of [1,2,3,4,5,6,7,8]; track $index) {
      <app-card-skeleton></app-card-skeleton>
      }
    </div>
    } @else if (!error()) {
    <div class="flex gap-x-xs mb-lg">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-6"
      >
        @for (product of cartItemsList(); track product._id) {
        <app-cart-card [product]="product"></app-cart-card>
        } @empty {
        <div
          class="col-span-full flex flex-col items-center justify-center text-center text-gray-500 py-12 bg-gray-50 rounded-2xl shadow-inner"
        >
          <svg
            class="w-16 h-16 mb-4 text-gray-300"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 14.25v3.75A2.25 2.25 0 0118 20.25H6a2.25 2.25 0 01-2.25-2.25v-3.75M12 12V3.75m0 0l3 3m-3-3l-3 3"
            />
          </svg>
          <h2 class="text-lg font-semibold mb-1">No Products Found</h2>
          <p class="text-sm mb-4">
            We couldn’t find any products. Try adjusting your filters or check
            back later.
          </p>
          <!-- <button
            (click)="retryLoadProducts()"
            class="bg-gray-800 text-white px-4 py-2 rounded hover:bg-gray-700 transition-colors text-sm"
          >
            Refresh
          </button> -->
        </div>
  
        }
      </div>
    </div>
    }
  </div>
  